.app-logo-margin {
    margin-right: 30px;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.eds-title-md {
    font-family: Arial, Helvetica, sans-serif;
    color: #2d2d2d;
    line-height: 1.6;
}

.logo-margin-top {
    margin-top: 20px;
}

.main-margin-top {
    margin-top: 25px;
}

.container-padding-top {
    padding-top: 25px;
}

.list-margin-top {
    margin-top: 10px;
}

.btn.btn-sm.app-btn-sm {
    padding: 1px 5px;
}

.img-logo-container {
    border-color: #DFDFDF;
    border-width: 1px;
    border-style: solid;
    max-width: 160px; 
    max-height: 160px; 
    text-align: center; 
    display: inline-block;
}

.img-logo-container-btn {
    margin: 0px auto; 
    border: #DFDFDF solid 1px;
}

.v-middle {
    vertical-align: middle !important;
}

label.required:after {
    color: red;
    content: " *";
}

.btn-menu-margin-top {
    margin-top: 20px;
}

.btn.btn-float-right {
    float: right;
}

.no-wrap-text {
    white-space: nowrap;
}

.nav-buttons-container {
    margin-bottom: 5px;
    text-align: right;
}

.max-height-450 {
    max-height: 450px;
}